header{
    display: flex;
    align-items: center;
}
header img{
    
    width: 60px;
    height: 65px;
    
    

}
nav{
    /* border: 2px solid black; */
    border-radius: 22px;
    
    background-color: darkkhaki;
    margin: 12px;
    
    
}
nav ul{
    display: flex;
    
    /* margin: 22px; */
    overflow: auto;
    
}
nav ul li{
   
    margin: 12px 12px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    /* border: 2px solid bisque; */
    border-radius: 34px;
}
nav ul li a{
    padding: 10px 75px;
    text-decoration: none;
    
    color: aliceblue;
}
nav ul li a:hover{
    background-color: black;
    border-radius: 34px;
    color: ghostwhite;
    cursor: pointer;
}
.search{
    float: right;
    color: antiquewhite;
    padding: 12px 75px;
}
nav input{
    border: 2px solid balck;
    border-radius: 4px;
    padding: 2px;
}
.container{

    margin-bottom: 12px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 15px;
    color: darkgray;
    align-items: center;
    justify-content: center;

}
.container::before{
    background: url('https://source.unsplash.com/collection/190727/1600x900') no-repeat center/cover;
    background-color: lightsteelblue;
    content: "";
    position: relative;
    top: 0;
    left: 0;
    /* z-index: -1; */
    opacity: 0.5;
    width: 100%;
    height: 300px;
}
/* .container img{
    width: 200px;
    height: 200px;
} */
.container-2{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 400px;
    margin: 20px;
    align-content: center;
    padding: 15px;
    background: #f2f2f2;
    text-align: center;
    border-radius: 22px;
    
}
.column h2{
    text-align: center;
    color: darkblue;
    margin-bottom: 5px;

}
.column img{
   
    width: 150px;
    height: 150px;
    padding-left: 100px;
    
    
   
}
.column p{
    /* padding-top: 200px; */
    padding-left: 15px;
    padding-right: 15px;
    
    text-align: left;
}
footer{
    margin-top: 20px;
    
    display: flex;
    width: 100%;
    height: 40px;
}
.col-1{
    width: 20%;
}
.col-1 img{
    width: 20%;
    height: 40px;
    padding-left: 12px;
}
.col-2{
    width: 80%;
    height: 40px;
    background-color: lavender;
    padding-top: 12px;
    font-size: 15px;
    padding-right: 60px;
    text-align: right;
}